<%- include("header") -%>

<div class="mb-5 text-white text-center">
	<h1>About</h1>
</div>

<div class="mb-5 text-white">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fermentum accumsan nibh, posuere scelerisque lorem
		pharetra in. 
	</p>
	<p class="fw-bold">
		Donec pellentesque quam sed ante tempus vehicula.  
	</p>
	<p>
		Nulla erat quam, aliquam vel elementum mollis, efficitur
		id dolor. Quisque ligula nulla, iaculis ac tortor nec, porta tristique eros. 
	</p>
	<p>
		Fusce commodo, mi vel aliquam interdum, lacus arcu convallis ex, sed molestie nibh tellus eget ante. Orci varius natoque 
		penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque non ipsum vel lectus varius viverra. Donec tempus, 
		nunc vestibulum pharetra ornare, sapien mauris pellentesque nibh, sit amet luctus eros ante vitae est. 
	</p>
	<p>
		Nulla ut libero porttitor, pretium mauris eu, egestas nibh. Vestibulum posuere consectetur libero, at convallis massa 
		fringilla in. Duis venenatis lacus et mi aliquam varius. In quis laoreet est. Suspendisse facilisis sollicitudin lectus vitae 
		feugiat.
	</p>
</div>

<%- include("footer") -%>